* {
    color: #ffff;
}

body {
    background-image: url('images/headphones_hero_1.jpg');
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0 130px;
}

.header .header-logo {
    display: flex;
}

.header-logo-image {
    margin-top: 5px;
}

.header .header-logo .header-name {
    margin-left: 10px;
    font-family: monospace;
}

.header ul li {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.header ul li a {
    text-decoration: none;
    font-weight: bold;
}

.header ul li a:hover {
    color: rgb(150, 29, 29);
}

.section-home {
    display: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}

.header ul {
    display: flex;
}

.call-to-action-btn {
    background-color: rgb(150, 29, 29);
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    margin-top: 25px;
    cursor: pointer;
}

.section-home-p2 {
    width: 550px;
    margin-left: 30%;
    margin-top: 35px;
    text-align: center;
}


